.chick{
    width: 20%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(218, 223,229);

}
.chick img{
    width: 100%;
}
.chick p{
    font-size: 30px;
    text-align: center;
    color: cornflowerblue;
    line-height: 40px;
    text-indent: 30px;
}
.chick span{
    width: 20px;
    height: 20px;
    font-size: 20px;
    position: absolute;
    top: 0;
    right:10px;
    color: red;
    cursor: pointer;
}