.chick{/*右上角鸡汤*/
    width: 20%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(218, 223,229);

}
.chick img{/*引用图片*/
    width: 100%;
}
.chick p{/*标题*/
    font-size: 30px;
    text-align: center;
    color: cornflowerblue;
    line-height: 40px;
    text-indent: 30px;
}
.chick span{/*关闭功能*/
    width: 20px;
    height: 20px;
    font-size: 20px;
    position: absolute;
    top: 0;
    right:10px;
    color: red;
    cursor: pointer;
}
/*左下角音乐*/
.bgm{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    color: darkorchid;
    background:linear-gradient(to right,pink,deeppink);
    border-radius: 5%;
    padding: 5px;
    border:2px solid pink;
}
.bgm span{
    color: tomato;
    transition: 2s;
}
.bgm span:hover{
    color: springgreen;
    rotate: 1.2;
    cursor: pointer;
}