@media screen and (max-width:1080px){
	.index{/*整体宽度*/
        width: 100%;
    }
    .index>.nav>.list{
        height: 20px;
    }
    .index>.nav>.list>li>ul>li{/*导航下拉列表*/
        line-height: 20px;
        font-size:15px;
        height: 20px;
    }
    .index>.nav>.list>li>ul>li:hover{/*导航下拉列表悬浮*/
        font-size: 20px;
    }
    .index>.nav>.list>li{/*导航列表*/
        line-height: 20px;
        font-size:15px;
        height: 20px;
    }
    .discuss{/*文件区文本的缩进*/
        text-indent: 10px;
    }
    .discuss ul li{/*文件区的字体大小*/
        font-size: 15px;
        text-indent: 20px;
        border-radius: 0%;
    }
    
    .chick p{/*鸡汤的字体大小*/
        text-align: center;
        font-size: 20px;
        line-height: 20px;
    }
    .chick{/*增加了鸡汤的宽度*/
        width: 10%;
        height: 20px;
    }
    .chick span{
        top:30px;
    }
    
    ol{width: 100%;}
    
}